<app-navbar></app-navbar>

<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper">
        <div class="container-fluid">

            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Modos de Edición</h1>
                <p class="lead">CQL Teacher tiene 3 modos de edición, seleccione el modo deseado.</p>
            </div>



            <div class="container">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Modo Principiante</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa name="child" fixed="true"></fa>
                            </div>
                            <h5 class="card-title pricing-card-title">Este modo cuenta con las siguientes sentencias:
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Select</li>
                                <li>Insert</li>
                                <li>Update</li>
                                <li>Deete</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-lg btn-block btn-outline-info">Ir a modo</button>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Modo Intermedio</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa name="user-secret" fixed="true"></fa>
                            </div>
                            <h5 class="card-title pricing-card-title">Este modo cuenta con las sentencias de
                                principiante y además:
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Definición de variables</li>
                                <li>Asignaciones</li>
                                <li>If/Else</li>
                                <li>Switch</li>
                                <li>While</li>
                                <li>Do While</li>
                                <li>For</li>
                                <li>Llamada a funciones y procedimientos</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-lg btn-block btn-outline-warning">Ir a modo</button>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Modo Avanzado</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <fa name="file-text-o" fixed="true"></fa>
                            </div>
                            <h5 class="card-title pricing-card-title">
                                Este modo cuenta con un editor de texto y las siguietnes opciones:
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Abrir Archivo</li>
                                <li>Cerrar Archivo</li>
                                <li>Ejecutar</li>
                                <li>Editar Archivo</li>
                                <li>Reportes</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-lg btn-block btn-outline-success">Ir a modo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © CQL Teacher 2019</span>
                </div>
            </div>
        </footer>
    </div>

</div>