<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item dropdown active show" [ngClass]="{'active':true}" id="bd">
    <a class="nav-link dropdown-toggle" id="link" (click)="onMenuBD()" role="button"
    aria-haspopup="true" aria-expanded="true">
      <fa name="database" fixed="true"></fa>
      <span>Base de datos</span>
    </a>
    <div class="dropdown-menu show" aria-labelledby="pagesDropdown" id="bdItem">
      
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
          
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sidebarCollapse2" (click)="sidebarCollapse2()">
      <fa id="collapse2-1" name="chevron-circle-left" size="lg" fixed="true"></fa>
      <fa id="collapse2-2" name="chevron-circle-right" size="lg" fixed="true"></fa>
    </a>
  </li>
</ul>