<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item" [ngClass]="{'active': inicio == true}">
      <a class="nav-link" id="link" href="#" routerLink="/inicio">
        <fa name="tachometer" fixed="true"></fa>
        <span>Inicio</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': calendario == true}">
      <a class="nav-link" id="link" href="#" routerLink="/calendario">
        <fa name="calendar" fixed="true"></fa>
        <span>Calendario</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': planes == true}">
        <a class="nav-link" id="link" href="#" routerLink="/plan-tratamiento">
          <fa name="user-md" fixed="true" ></fa>
          <span>Planes de Tratamiento</span>
        </a>
      </li>
    <li class="nav-item dropdown"  [ngClass]="{'active': administrar == true}">
      <a class="nav-link dropdown-toggle" id="link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa name="ambulance" fixed="true"></fa>
        <span>Administrar</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="#" routerLink="/sedes">
          <fa name="hospital-o" fixed="true" ></fa>
          Clínicas
        </a>
        <a class="dropdown-item" href="#" routerLink="/empleados">
          <fa name="user-md" fixed="true" ></fa>
          Empleados
        </a>
        <a class="dropdown-item" href="#" routerLink="/pacientes">
          <fa name="users" fixed="true" ></fa>
          Pacientes
        </a>
        <a class="dropdown-item" href="#" routerLink="/planilla">
          <fa name="sticky-note" fixed="true" ></fa>
          Planilla
        </a>
        <a class="dropdown-item" href="#" routerLink="/tratamiento">
          <fa name="sticky-note" fixed="true" ></fa>
          Tratamiento
        </a>
        <a class="dropdown-item" href="#" routerLink="/contrato">
          <fa name="sticky-note" fixed="true" ></fa>
          Contrato
        </a>
        <a class="dropdown-item" href="#" routerLink="/aranceles">
          <fa name="sticky-note" fixed="true" ></fa>
          Aranceles
        </a>
        <a class="dropdown-item" href="#" routerLink="/regla">
          <fa name="sticky-note" fixed="true" ></fa>
          Regla
        </a>
        <a class="dropdown-item" href="#" routerLink="/listado-reglas">
          <fa name="sticky-note" fixed="true" ></fa>
          Listado de Reglas
        </a>
        <a class="dropdown-item" href="#" routerLink="/empresa">
          <fa name="sticky-note" fixed="true" ></fa>
          Empresa
        </a>
        <a class="dropdown-item" href="#" routerLink="/centro">
          <fa name="sticky-note" fixed="true" ></fa>
          Centro
        </a>
        <a class="dropdown-item" href="#" routerLink="/area">
          <fa name="sticky-note" fixed="true" ></fa>
          Area
        </a>
        <a class="dropdown-item" href="#" routerLink="/empresa-area">
          <fa name="sticky-note" fixed="true" ></fa>
          Area por Empresa
        </a>
        <a class="dropdown-item" href="#" routerLink="/sillas">
          <fa name="sticky-note" fixed="true" ></fa>
          Silla
        </a>
        <a class="dropdown-item" href="#" routerLink="/sede-silla">
          <fa name="sticky-note" fixed="true" ></fa>
          Silla por Sede
        </a>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"  id="sidebarCollapse2" (click)="sidebarCollapse2()">
        <fa id="collapse2-1" name="chevron-circle-left" size="lg" fixed="true"></fa>
        <fa id="collapse2-2" name="chevron-circle-right" size="lg" fixed="true"></fa>
      </a>
    </li>
  </ul>